@model IEnumerable<Nessa.Models.Category>
@using Nessa.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin: 50px; text-align: center">Категории</h2>


<div class="box-green">@Html.ActionLink("Всички", "Index", "Items")</div>

@*<div class="box-green">@Html.ActionLink(category.Name, "ItemsInCategory", "Items", new { id = category.Id }, null)</div>*@

<div class="container">
    <div id="oneItem" class="row">
        @foreach (var category in Model)
        {

            <div class="col-md-4" id="@category.Id" style="margin-bottom: 100px">
                <figure class="card card-product">

                    <a href="/Items/ItemsInCategory/@category.Id"><div class="img-wrap"><img src="~/Images/@category.ImagePath"></div></a>

                    <figcaption class="info-wrap">
                        <a href="/Items/ItemsInCategory/@category.Id"><h4 class="title">@category.Name</h4></a>
                    </figcaption>
                    @if (User.IsInRole(RoleName.Admin))
                    {
                        @Html.ActionLink("Редактирай", "Edit", "Categories", new { id = category.Id }, null)
                        <br>
                        <button class="js-delete" data-category-id="@category.Id">Изтрии</button>
                    }
                </figure>
            </div> <!-- col // -->
        }
    </div> <!-- row.// -->
</div>


@section scripts
{
<script>
    $(document).ready(function () {
        $("#oneItem").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Сигурен ли си, че искаш да изтриеш тази категория?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/categories/" + button.attr("data-category-id"),
                        method: "DELETE",
                        success: function () {
                            $('#' + button.attr("data-category-id")).remove();
                            $("#oneItem").load(location.href + " #oneItem>*", "");
                        }
                    });
                }
            });
        })
    });
</script>
}