@model IPagedList<Nessa.Models.Item>
@using Nessa.Models
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "ItemsInCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <h2 style="margin: 50px; text-align: center">Няма намерени продукти!</h2>


    using (Html.BeginForm("ItemsInCategory", "Items", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
    {
        @Html.TextBox("search", null, new { @class = "form-control mr-sm-2" }) <button type="submit" class="btn btn-success">Търси!</button>
    }

}
else
{
    <h2 style="margin: 50px; text-align: center">@Model.ElementAt(0).Category.Name</h2>

    using (Html.BeginForm("ItemsInCategory", "Items", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
    {
        @Html.TextBox("search", null, new { @class = "form-control mr-sm-2" }) <button type="submit" class="btn btn-success">Търси!</button>
    }

    <div class="container">
        <div id="oneItem" class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3" id="@item.Id" style="padding-left: 0px; padding-right: 0px">
                    <figure class="card card-product">
                        @if (item.Images.Count > 0)
                        {
                            <a href="/Items/Details/@item.Id"><div class="img-wrap"><img src="~/Images/@item.Images.ElementAt(0).Path"></div></a>
                        }
                        else
                        {
                            <a href="/Items/Details/@item.Id"><div class="img-wrap"><img src="~/Images/nessalogo.png"></div></a>
                        }
                        <figcaption class="info-wrap">
                            <a href="/Items/Details/@item.Id"><h4 class="title" style="max-height: 19px; overflow: hidden">@item.Name</h4></a>
                            <p class="desc">@item.Description</p>
                        </figcaption>
                        <div class="bottom-wrap">
                            <div class="price-wrap h5">
                                <span class="price-new">@item.Price лв.</span>
                            </div>
                            @if (User.IsInRole(RoleName.Admin))
                            {
                                <a href="/Items/Edit/@item.Id" class="btn btn-warning" style="margin-bottom: 5px">Редактирай</a>
                                <br>
                                <button class="js-delete btn btn-danger" data-item-id="@item.Id">Изтрии</button>
                            }
                        </div>
                    </figure>
                </div>
            }
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("ItemsInCategory", new { page, search = Request.QueryString["search"] }))
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#oneItem").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Сигурен ли си, че искаш да изтриеш този продукт?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/items/" + button.attr("data-item-id"),
                            method: "DELETE",
                            success: function () {
                                $('#' + button.attr("data-item-id")).remove();
                                $("#oneItem").load(location.href + " #oneItem>*", "");
                            }
                        });
                    }
                });
            })
        });
    </script>
}